@import URL('./_theme/section-subtitle_theme_dark.css');

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding-top: 0;
}
