@import url('./__title/feynman__title.css');
@import url('./__subtitle/feynman__subtitle.css');
@import url('./__img/feynman__img.css');
@import url('./__link/feynman__link.css');

.feynman {
  height: 790px;
  background-color:  #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: column;
}
